<div class=" list-unstyled " id="main-nav">
    <ul class="navbar-nav list-unstyled components">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="swimwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swimwear
            </a>
            <div class="dropdown-menu border-0 bg-dropdown-blue" aria-labelledby="swimwear-link">
                <a href="{% url 'products' %}?category=swimwear" class="dropdown-item">Female</a>
                <a href="" class="dropdown-item ">Male</a>
                <a href="" class="dropdown-item ">Junior Female</a>
                <a href="" class="dropdown-item">Junior Male</a>
                <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Checked checkbox
                    </label>
                </div> -->
            </div>

        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wetsuits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wetsuits
            </a>
            <div class="dropdown-menu border-0 bg-dropdown-blue" aria-labelledby="wetsuits-link">
                <a href="{% url 'products' %}?category=wetsuits" class="dropdown-item">Female</a>
                <a href="" class="dropdown-item">Male</a>
                <a href="" class="dropdown-item">Junior Female</a>
                <a href="" class="dropdown-item">Junior Male</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
            </a>
            <div class="dropdown-menu border-0 bg-dropdown-blue" aria-labelledby="boards-link">
                <a href="{% url 'products' %}?category=boards" class="dropdown-item">Long Boards</a>
                <a href="" class="dropdown-item">Mid Size Boards</a>
                <a href="" class="dropdown-item">Short Boards</a>
                <a href="" class="dropdown-item">All Boards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0 bg-dropdown-blue" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Boots</a>
                <a href="" class="dropdown-item">Hoods</a>
                <a href="" class="dropdown-item">Gloves</a>
                <a href="" class="dropdown-item">Fins</a>
                <a href="" class="dropdown-item">Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0 bg-dropdown-blue" aria-labelledby="brands-link">
                <a href="" class="dropdown-item">All Brands</a>
            </div>
        </li>
    </ul>
</div>
