<div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav w-auto mx-auto d-block d-lg-none">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="swimwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Swimwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="swimwear-link">
                <a href="" class="dropdown-item">Female</a>
                <a href="" class="dropdown-item ">Male</a>
                <a href="" class="dropdown-item ">Junior Female</a>
                <a href="" class="dropdown-item">Junior Male</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wetsuits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wetsuits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wetsuits-link">
                <a href="" class="dropdown-item">Female</a>
                <a href="" class="dropdown-item">Male</a>
                <a href="" class="dropdown-item">Junior Female</a>
                <a href="" class="dropdown-item">Junior Male</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boards-link">
                <a href="" class="dropdown-item">Long Boards</a>
                <a href="" class="dropdown-item">Mid Size Boards</a>
                <a href="" class="dropdown-item">Short Boards</a>
                <a href="" class="dropdown-item">All Boards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Boots</a>
                <a href="" class="dropdown-item">Hoods</a>
                <a href="" class="dropdown-item">Gloves</a>
                <a href="" class="dropdown-item">Fins</a>
                <a href="" class="dropdown-item">Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brands-link">
                <a href="" class="dropdown-item">All Brands</a>
            </div>
        </li>
    </ul>
</div>
